<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803332362861-bcd9oaq7499h346hj4h9rsql6deigvhf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803332362861-bcd9oaq7499h346hj4h9rsql6deigvhf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>803332362861-v5o0shmgmcv6bii6a5k976tgm9l0pqft.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCgzaIt-q4_RrYkhGdhjeuwRnwODSxbuU8</string>
	<key>GCM_SENDER_ID</key>
	<string>803332362861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doctor</string>
	<key>PROJECT_ID</key>
	<string>fizyo-14a55</string>
	<key>STORAGE_BUCKET</key>
	<string>fizyo-14a55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803332362861:ios:81945327a68385d5036564</string>
</dict>
</plist>